*.a
*.lo
*.o
*.la
*.so
*.orig
*.diff
*.patch
.deps/
.libs/
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/intltool.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/mkinstalldirs
Makefile
Makefile.in
config.h
config.h.in

/src/precomp/precomp
/src/rndr/rndr
/src/sdrinfo/sdrinfo
/src/texmake/texmake

/src/ri/dso.cpp
/src/ri/ifexpr.cpp
/src/ri/lex.dso.cpp
/src/ri/lex.if.cpp
/src/ri/lex.rib.cpp
/src/ri/lex.sl.cpp
/src/ri/lex.var.cpp
/src/ri/rib.cpp
/src/ri/sl.cpp
/src/ri/variable.cpp

/src/sdr/lex.sdr.cpp
/src/sdr/sdr.cpp

/src/sdrc/dso.cpp
/src/sdrc/lex.dso.cpp
/src/sdrc/lex.sl.cpp
/src/sdrc/sdrc
/src/sdrc/sl.cpp

